
.name {
width: 200px;
height: 400px;
background-color: ;
text-align: center;
border-radius: 20px 10px 0;
color: red;
}
.name-2{
width: 100px;
height: 200px;
background-color: yellow;
}
.text-one{
   color: #52EA14; 
}
.img{
    width: 40px;
    height: 100px;
}